{
  "openapi": "3.0.0",
  "info": {
    "title": "Multi-timer Webapp",
    "description": "This group contains API endpoints used on the multi-timer webapp",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.dappit.org/api:THWVRjoL"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {

    }
  },
  "paths": {
    "/zoho_projects": {
      "get": {
        "summary": "Returns a list of all zoho_projects available to the user",
        "description": "Returns a list of all zoho_projects available to the user\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required",
        "tags": [
          "zoho_projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "zoho_project_id": {
                        "type": "string",
                        "description": "The ID from Zoho's API"
                      },
                      "project_name": {
                        "type": "string",
                        "description": "The name of the project from Zoho"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/zoho_tasks": {
      "get": {
        "summary": "Returns all tasks for projects the user has access to",
        "description": "Returns all tasks for projects the user has access to\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E required",
        "tags": [
          "zoho_tasks"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "zoho_project_id": {
                        "type": "string",
                        "description": ""
                      },
                      "zoho_task_id": {
                        "type": "string",
                        "description": "The unique ID from Zoho's API for this task."
                      },
                      "task_name": {
                        "type": "string",
                        "description": "The name of the task."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      }
    }
  }
}